* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-layout {
    width: 90vw;
    margin: 0 auto;
}
.main-content {
    min-height: calc(100vh - 160px);
}

.app-header,
.app-footer {
    display: flex;
    height: 80px;
    background-color: beige;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    gap: .5rem
}

.toy-filter {
    height: 60px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toy-filter label {
    cursor: pointer;
}

.toy-list {
    display: flex;
    flex-direction: row;
    gap: 1rem
}
.toy-preview {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.toy-preview h1,
.toy-preview h2,
.toy-preview h3,
.toy-preview p {
    margin-block-end: 0;
    margin-block-start: 0;
}